<ion-header>
  <ion-toolbar class="header-bg-color">
    <ion-title>
      DamnFood
    </ion-title>
    <a slot="end">
      <ion-icon name="cart" color="light" size="large" class="ion-margin-end"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div class="section-coin-info">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start">
              Hello, Dimas
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
              <img src="assets/icon/coin.png" class="coin-icon"> <span> Rp.99.999.999,-</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
  </div>
</ion-content>
