.header-bg-color {
    --background: #3498DB;
    --color: #ffffff;
}

.coin-icon {
    height: 20px;
}

.section-coin-info {
    background-color: #ECF0F1;
    height: 60px;
    border-radius: 10px;
}

.section-coin-info ion-row {
    margin-top: 3%;
}